body {
    background-color: #DCDCDC;
    margin: 0;
    padding: 0;
    clear: both;
    text-align: center;
}

/* BUTTONS AT TOP OF PAGE */
button {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
}
.cat button, .dog button, .dino button, .all button {
    font-size: 100%;
}
.cat button {
    background-color: #5BC0DF;
}

.dog button {
    background-color: #5BB85B
}

.dino button {
   color: #F0AD4D;
}

/* FLEX CONTAINER */
#pets-available {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
}

/* .PET-CARD FLEX ITEMS */
.pet-card {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    background-color: #c9c9c9;
    width: 28%;
    height: 35em;
    margin: 10px;
    border: 1px solid #808080;
}

/* HEADER WITHIN .PET-CARD */
.pet-card header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A9A9A9;
    height: 5em;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* IMAGE */
.pet-card img {
    border: 1px solid #696969;
    background-color: #A9A9A9;
    margin: 1em .5em .5em .5em;
    padding: .5em;
    width: 20rem;
}


/* FOOTER */
.pet-card footer {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    
}


.cat footer {
    background-color: #5BC0DF;
}

.dog footer {
    background-color: #5BB85B;
}

.dino footer {
    background-color: #F0AD4D;
}

footer p {
    font-weight: bold;
}